@use 'tokens';

.footer {
  background: #0a0a0a;
  border-top: 1px solid rgba(255,255,255,.08);

  &__container {
    padding-block: 24px;
  }

  &__text {
    margin: 0;
    color: tokens.$color-text-dim;
    font-size: 14px;
    text-align: center;
  }
}
