.reviews {
  &__grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 900px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
}
